	<tbody>		
		<%- @directory.aggregated_files.each_with_index do |agg_tuple,row_index| -%>
		<tr class="<%= cycle('','alt') %>">
			<td class="controller_cell">
				<a name="r<%= row_index %>"></a>
				<span class="f_left">
					<a class="icon row_load"><span>Load this unloaded Row</span></a>
					<input type="checkbox" value="<%= row_index %>" />
					<span class="row_title"><%= @export_mode ? "#{row_index}_*.wav" : agg_tuple.first %></span>
					<%# <div class="row_progress">
						<div class="row_load_bar" style="width: 100%;">
							<div class="row_play_bar" style="width: 0%;"></div>
						</div>
					</div>											 -%>
					<span class="row_misc"></span>
				</span>
				<span class="f_right">
					<a class="icon row_stop"><span>Stop Row and Restore head to 0</span></a>
					<a class="icon row_pause"><span>Pause Row</span></a>
					<a class="icon row_play"><span>Play Row</span></a>
					<a class="icon row_play_looped"><span>Play Row Looped</span></a>
				</span>				
			</td>
			<%- agg_tuple.last.each_with_index do |base_file_name,col_index| -%>
			  <%- if @directory.cell(row_index,col_index).nil? -%>
			    <td style="opacity: 0.3; font-size: .65em">n/a</td>
			  <%- else -%>
			    <td class="audio_cell" id="c<%= "#{row_index}_#{col_index}" %>" rel="<%= exportable_cell_path(@directory,row_index, col_index) %>">
						<span class="f_left cell_title"></span>
						<span class="cell_misc"></span>
						<span class="f_right">
							  <a id="toggle_mute" href='#'>T</a>
							 <!-- <a class="icon sound_mute"><span>Un mute this loop</span></a> -->
							  <a class="icon download_file" href="<%= exportable_cell_path(@directory,row_index,col_index)  %>">
								  <span>Download this file</span>
								</a>
						</span>
				  </td>
				<%- end -%>
			
			<%- end -%>
			<td>
				<span class="f_left cell_title"></span>
				<span class="cell_misc"></span>
				<span class="f_right">
					<%#  <a class="icon heart"><span>I love this loop</span></a>
					<a class="icon pencil"><span>Edit the notes and meta data about loop</span></a> -%>
				</span>
			</td>
		</tr>			
		<%- end -%>
	</tbody>