<h2>
	<%- if @collection.kind_of? UnarchivedPath -%>
	Unarchived Path: <%= @collection.basename %>
	<%- elsif @collection.kind_of? Grit::Tree -%>
	Relative Commit Path: <%= @collection.basename %>
	<%- elsif @collection.kind_of? Playlist -%>
	Playlist: <%= @collection.title %>
	<%- end -%>
</h2>
<p><%=  %>
	<%= pluralize(@collection.rows.length, 'row') %><br />
	<%= pluralize(@collection.cells.length, 'file') %><br />
	<%= pluralize(@collection.cells.count {|x| x.is_identical}, 'identical') %>
</p>

<div class="loopoff_table_container" id="loopoff_container_1">
	<div class="f_right">
			<span class="time_ago"></span>
			<a class="icon playlist_info"><span>Playlist Info</span></a>
			<div class="jqmWindow" id="playlist_info_content">
				<a href="#" class="jqmClose">Close</a>
				<hr />
				THE CONTENT GOES HERE
			</div>
	</div>
	<table>
		<thead>
		<%#- unless @export_mode -%>
		<tr class="tbl_chng">
			<th>
				<a class="icon playlist_oldest" href="http://google.com"><span>Oldest</span></a>
				<a class="icon playlist_previous" href="http://google.com"><span>Previous</span></a>
			</th>
			<th></th>
		  <th></th>
			<th></th>
			<th class="f_right">
				<a class="icon playlist_next" href="http://google.com"><span>Next</span></a>
				<a class="icon playlist_newest" href="http://google.com"><span>Newest</span></a>				
			</th>
		</tr>
		<%#- end -%>
		<tr>
			<th>Loop Sets</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th><span class="f_right">Song Info</span></th>
		</tr>
		</thead>
		<tbody>		
			<%- @collection.rows.each_with_index do |lt_row,row_index| -%>
			<tr class="<%= cycle('','alt') %>">
				<td class="controller_cell">
					<a id="r<%= row_index %>" name="r<%= row_index %>"></a>
					<img class="selected_row" src="/images/icons/chevron.gif" />
					<span class="f_left">
						<a class="icon row_load"><span>Load this unloaded Row</span></a>																	
						<input name="do_export" type="checkbox" value="<%= row_index %>" />
            
           
            <%- 
            # only stuff in the repo can "add to playlist"
            if lt_row.cells.any? {|x| x.kind_of? Lt::BlobCell} -%>
						<a href="javascript:void(0)" class="add_selected_to_playlist" rel="<%=
						add_selected_rows_to_playlist_db_commit_path_loopoff_path(@db,@commit,"-") %>">a</a>
						<%- elsif lt_row.cells.any? {|x| x.kind_of? Lt::FileCell} -%>
						<a href="javascript:void(0)" class="export_selected" rel="<%=
						  export_selected_rows_db_unarchived_path_loopoff_path(@db,@collection) %>">x</a>
						<%- elsif lt_row.cells.any? {|x| x.kind_of? PlaylistCell} -%>				
						<a href="javascript:void(0)" class="delete_row_from_playlist" rel="<%=
						  delete_row_playlist_path(@collection, {:row_index => row_index}) %>">d</a>
            <%- end -%>
							<a class="icon row_stop"><span>Stop Row and Restore head to 0</span></a>
							<a class="icon row_pause"><span>Pause Row</span></a>
							<a class="icon row_play"><span>Play Row</span></a>
							<a class="icon row_play_looped"><span>Play Row Looped</span></a>
						<span class="row_title"><%= lt_row.name %></span>						
						 <div class="row_progress">
							<div class="row_load_bar" style="width: 100%;">
								<div class="row_play_bar" style="width: 0%;"></div>
							</div>
						</div>											 
						<span class="row_misc"></span>
					</span>
				</td>
				<%- 3.times do |col_index| 
					cell = lt_row.cells[col_index]
					-%>
				  <%- if cell.nil? -%>
				    <td style="opacity: 0.3; font-size: .65em">n/a</td>
				  <%- else -%>
				    <td class="audio_cell" id="c<%= "#{row_index}_#{col_index}" %>" rel="<%=

				  if cell.kind_of? Lt::FileCell
					  db_unarchived_path_cell_path(@db,@unarchived_path,"#{row_index},#{col_index}")
					elsif cell.kind_of? Lt::BlobCell
						db_commit_path_cell_path(@db,@commit.id,"-",cell.sha)
					elsif cell.kind_of? PlaylistCell
						playlist_cell_path(@collection,cell)
					else
						raise "Dont know what to do with cell of type #{cell}"
					end
					
				  %>">
							<span class="f_left cell_title"></span>
							<span class="cell_misc">
								<%- if cell.respond_to? :is_identical -%>
								<%= @collection.cell(row_index,col_index).is_identical ? "identical" : "" -%>								
								<%- end -%>
							</span>
							<span class="f_right">
								  <a class="icon cell_toggle_mute unmuted"></a>
							</span>
					  </td>
					<%- end -%>

				<%- end -%>
				<td>
					<span style="font-size: .7em">
					
					</span>
					<span class="f_left cell_title"></span>
					<span class="cell_misc"></span>
					<span class="f_right">
						<%- if lt_row.respond_to? :title_from_commit_message -%>
						<%= lt_row.title_from_commit_message %>
						<%- elsif !@commit.blank? -%>
						<%= @commit.extract_row_name_from_message(lt_row.name) %>
						<%- end -%>
						<%#  <a class="icon heart"><span>I love this loop</span></a>
						<a class="icon pencil"><span>Edit the notes and meta data about loop</span></a> -%>
					</span>
				</td>
			</tr>			
			<%- end -%>
		</tbody>
		    </table>
			</div><%# opened in _show_header class="loopoff_table_container" id="loopoff_table_1" %>
			<a href="#" class="export_selected" rel="<%# export_selected_rows_directory_path(@collection) %>">Export selected</a>
		<%# link_to 'Edit', edit_directory_path(@collection) %> |
		<%# link_to 'Back', directories_path %>