<%= link_to "Export All files", export_all_files_playlist_path(@playlist) %>
<table>
<%- @playlist.rows.each_with_index do |pl_row,row_index| -%>
<tr>
  <td><%= pl_row.aggregation_string %></td>
  <%- pl_row.cells.each_with_index do |pl_cell,cell_index| -%>
  <td>
	<span><%= pl_cell.blob_id %></span>
	<span><%= pl_cell.commit_id %></span>
	<span><%= link_to "Binary", playlist_cell_path(@playlist,pl_cell) %></span>
	</td>
  <%- end -%>
  <td><%= pl_row.title_from_commit_message %></td></tr>
<%- end -%>
</table>

<%= render :partial => 'loopoff_table/show' %>
